.container{
    display: grid;
    grid-template-columns: 20% 50% 20%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav main aside";
}

nav{
    grid-area: nav;
    padding: 2rem;
    background-color: rgb(226, 126, 206);
    border-style: groove;
    border-color: black;
}

main{
    grid-area: main;
    padding:2rem;
    background-color: rgb(221, 225, 210);
    border-style: groove;
    border-color: black;
}

aside{
    grid-area: aside;
    padding:2rem;
    border-style: groove;
    border-color: black;
}
