.container{
    display: grid;
    grid-template-columns: 20% 50% 20%;
    grid-template-rows: auto 2fr auto;
    grid-template-areas: "nav main aside";
}

nav{
    grid-area: nav;
    padding: 2rem;
}

main{
    grid-area: main;
    padding:2rem;
}

aside{
    grid-area: aside;
    padding:2rem;
}
